body {
    margin: 0;
    padding : 0;
    height : 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    background : rgb(36, 149, 146);
    box-shadow: 0px 4px 5px -2px rgba(0,0,0, .7);
    color : white;
    padding : 1em 2em;

    transition: all ease-in-out 250ms;
}

.btn:hover {
    transform: translateY(-10px);
    box-shadow : 0px 18px 8px -10px rgba(0,0,0,.6);
}