@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* colors.co */

body {
    background: #F0F8EA;
    font-family: 'Quicksand', sans-serif;
  }

  .container{
      width : 95%;
      max-width : 1000px;
      margin : 0 auto;
  }

  header{
    background: #E54B4B;
    color: #EBEBD3;
    padding: 1em 0;
    position: relative;
  }
  header::after {
    content: '';
    clear: both;
    display: block;
  }
  .logo {
    float: left;
    font-size: 1rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
  }
  .logo span {
    font-weight: 400;
  }
  .site-nav{
      position : absolute;
      background: #464655;
      top : 100%;
      right : 0;
  }
  .site-nav ul{
      margin : 0;
      padding : 0 ;
      list-style: none;
  }
  .site-nav li{
     border-bottom : 1px solid #575766;
  }
  .site-nav li:last-child{
     border-bottom : none;
  }
  .site-nav a{
      color : #ebebd3;
      display : block;
      padding: 2em 6em;
      text-transform: uppercase;
      text-decoration: none;
  }
  .site-nav a:hover,
  .site-nav a:focus {
      background : #e4b363;
      color : #464655;
  }